<div class="flex chan space-between">
  <div>
    {{ chan.chan_id }}
  </div>

  {{ self.short_description() }}

  <div class="flex space-between">
    <form action="{{ self.path() }}/on" method="POST">
      <button>
        ON!
      </button>
    </form>

    <form action="{{ self.path() }}/off" method="POST">
      <button>
        OFF!
      </button>
    </form>
  </div>
</div>

<div class="chan flex space-between">
  <form action="{{ self.path() }}/set" method="POST">
    <input
      name="value"
      type="range"
      value="{{ self.value }}"
      min="0.0"
      max="1.0"
      step="0.01"/>

    <button>
      Set!
    </button>
  </form>
</div>
