<div class="flex chan space-between chan-row">
  {% for tag in self.tags() %}
  {{ tag|safe }}
  {% endfor %}

  <div class="flex space-between">
    <form action="{{ self.path() }}/on" method="POST">
      <button>
        ON!
      </button>
    </form>

    <form action="{{ self.path() }}/off" method="POST">
      <button>
        OFF!
      </button>
    </form>
  </div>
</div>

<form action="{{ self.path() }}/set" method="POST" class="chan flex space-between chan-row">
  <input
    name="value"
    type="range"
    value="{{ self.value }}"
    min="0.0"
    max="1.0"
    step="0.001"
    class="js-chan-slider"
  />
  <!--
       <button>
       Set!
       </button> -->
</form>
