<!DOCTYPE html>

<html>
  <head>
    <title>
      LED Control
    </title>

    <link rel="stylesheet" href="/assets/main.css">
    <meta name="viewport" content="width=device-width">
    <script src="/assets/script.js"></script>
    <meta charset="utf-8"/>
  </head>

  <body>
    <div class="flex space-around">
      <h3>
        <a href="/">
          LED Control
        </a>
      </h3>

      <noscript>
        <div class="small-text">
          Sliders don't work without javascript, sorry!
        </div>
      </noscript>
    </div>

    <div>
      {% match msg %}
      {% when Some with (msg) %}
      {{ msg|safe }}
      {% when None %}
      {% endmatch %}
    </div>

    <div class="flex space-around">
      <form action="/on" method="POST">
        <button>
          ON!
        </button>
      </form>

      <form action="/off" method="POST">
        <button>
          OFF!
        </button>
      </form>
    </div>

    <br/>

    <div class="smaller-font">
      {% for chan in chans %}
      <div>
        {{ chan|safe }}
      </div>
      <hr/>
      {% endfor %}
    </div>

    <br/>

    <div>
      <form action="/disco" method="POST">
        <button class="btn-disco">
          Disco!
        </button>
      </form>
    </div>
  </body>
</html>
